---
layout: default
---
<div class="content about-container">
	<!-- h1 class="about-title">{{ page.title }}</h1 -->
	{% if page.profile_picture %}
		<img class="profile-picture" src="{{ page.profile_picture }}">
		</img>
	{% elsif site.profile_picture %}
		<img class="profile-picture" src="{{ site.profile_picture }}">
		</img>
	{% endif %}
	<hr>
		{% if page.author %}
		<h2><a href="/">{{ page.author }}</a></h2>
	{% else %}
		<h2><a href="/">{{ site.author }}</a></h2>
		{% endif %}
		<span>点我回首页哦</span>
		{% if site.short_bio %}
		<p class="light italic small">{{ site.short_bio }}</p>
		{% endif %}
	<hr>
	{{ content }}
</div>
